# Collecting Job Data Using APIs

## Objectives
After completing this lab, you will be able to:

1. Collect job data using Jobs API
2. Store the collected data into an excel spreadsheet.

In [5]:
!pip install flask

Requirement already satisfied: flask in c:\users\88017\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\88017\anaconda3\lib\site-packages (from flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\88017\anaconda3\lib\site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\88017\anaconda3\lib\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\88017\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\88017\anaconda3\lib\site-packages (from flask) (1.6.2)
Requirement already satisfied: colorama in c:\users\88017\anaconda3\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\88017\anaconda3\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.3)

In [8]:
import requests # you need this module to make an API call
import pandas as pd

In [10]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [12]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [14]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [16]:
print(data)

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

In [18]:
print(data.get('number'))

12

In [20]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

## Job Data Access using API

In [25]:
import pandas as pd
import json

In [27]:
api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

In [29]:
df = pd.read_json(api_url)

In [33]:
df

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| client...,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,2,Trainee Research/ Research Executive- Hi- Tech...,0 - 1 yrs,Computer science| Fabrication| Quality check| ...,R&D,San Francisco,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,3,Technical Support,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer
4,4,Software Test Engineer -hyderabad,2 - 5 yrs,manual testing| test engineering| test cases| ...,Programming & Design,Boston,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer
...,...,...,...,...,...,...,...,...,...
27000,29995,MTS-Software-Engineer,9 - 12 yrs,Graphics| C++| USB| Project management| SOC| F...,Programming & Design,Detroit,"IT Software - Embedded , EDA , VLSI , ASIC , C...","Semiconductors, Electronics",Software Developer
27001,29996,Client Relationship Manager,1 - 5 yrs,Service delivery| LMS| CRE| Integration servic...,Operations,Detroit,"ITES , BPO , KPO , LPO , Customer Service , Op...","Education, Teaching, Training",Operations Manager
27002,29997,Assoc. Prof.- CS,4 - 6 yrs,Counselor| Mentor| Trainer| Advisor| Teaching,University Level,Detroit,"Teaching , Education , Training , Counselling","Education, Teaching, Training",Lecturer/Professor
27003,29998,Application/Cyber Security Specialist-New Jersey,5 - 10 yrs,Security Analysis| Software Development Life C...,Programming & Design,Detroit,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Software Developer
27004,29999,Press Release Writer - SEO,2 - 7 yrs,Press release| Public relations| Publishing| W...,Online/Digital Marketing,Detroit,"Marketing , Advertising , MR , PR , Media Plan...","IT-Software, Software Services",Search Engine Optimisation /SEO Specialist

In [37]:
#df.to_csv('output.csv', index=False)

In [45]:
df.head(2)

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| client...,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer

In [ ]:
df['Job Title']

# Second way to read data.

In [ ]:
import requests
import json

# Step 1: Load JSON data from the API
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
response = requests.get(url)
data = response.json()

# Optional: View a sample of the data
# print(json.dumps(data[:2], indent=2))  # Uncomment to see structure

## Final Simple way

In [4]:
import requests
import json

# Step 1: Load JSON data from the API
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
response = requests.get(url)
data = response.json()

# Optional: View a sample of the data
# print(json.dumps(data[:2], indent=2))  # Uncomment to see structure

In [6]:
def count_jobs_by_technology(technology):
    count = 0
    tech = technology.lower()
    for job in data:
        key_skills = job.get("Key Skills", "")
        skill_list = [s.strip().lower() for s in key_skills.split('|')]
        if tech in skill_list:
            count += 1
    return count

In [8]:
print("Python jobs:", count_jobs_by_technology("Python"))
print("SQL jobs:", count_jobs_by_technology("SQL"))
print("Java jobs:", count_jobs_by_technology("Java"))

Python jobs: 1165
SQL jobs: 1541
Java jobs: 1209